* {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
} 

body{
    background-image: url(/animations/bg-white.jpg);
    
    background-size: cover;
}
.container-fluid{
    text-align: center;
}

.card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
    width: 300px;
	display: inline-block;
	margin: 1rem;
	border-radius: 4px;
	box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.2);
	transition: all .2s ease;
	background: #fff;
	position: relative;
    overflow: hidden;
    align-items: center;
    flex:auto;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}    

.logo{
 height: 100px; 
    width: 100%; 
    text-align: center;
}

.row {
    display: flex;
} 
  
.column {
    flex: 2%; 
    padding: 10px;
}

.deliveryBoy{
    block-size:300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    float :none;
} 

.heading{
    text-align: center;
    top:10%;
}

.indexP{
    text-align: center;
}

.h1Heading{
    text-align: center;
    font-family: Yusei Magic;
    font-size: 65px;
    
    
}

 .social{
    display: block;
    width: 20%;
    margin: auto;
} 

.quoteHeading{
    font-family: Yusei Magic;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30;
}

.h1Heading .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    top:auto;
    height:0px;
    animation-name: topInflate;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    margin-bottom: 35px;
  }
  
.h1Heading .letter {
    display: inline-block;
    line-height: 1em;
  }

.lcurtain{
    width: 50%;
    height:100%;
    background-color: red;
    position: fixed;
    z-index: 5;
    left:0px;
    top:0px;
    animation-name: curtains;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    border-radius: 0,5%,5%,0;
}
.rcurtain{
    width: 50%;
    height:100%;
    background-color: red;
    position: fixed;
    z-index: 50;
    right:0px;
    top:0px;
    animation-name: curtains;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    border-radius: 5%,0,0,5%;
}

.curtainLeft1{
    background-color: red;
    animation-delay: 0.2s;
    z-index: 50;
}
.curtainRight1{
    background-color: red;
    animation-delay: 0.2s;
    z-index: 50;
}
.curtainLeft2{
    background-color:  rgb(211, 0, 0);
    animation-delay: 0.4s;
    z-index: 49;
}
.curtainRight2{
    background-color: rgb(211, 0, 0);
    animation-delay: 0.4s;
    z-index: 49;
}
.curtainLeft3{
    background-color: rgb(179, 0, 0);
    animation-delay: 0.6s;
    z-index: 48;
}
.curtainRight3{
    background-color: rgb(179, 0, 0);
    animation-delay: 0.6s;
    z-index: 48;
}

.indexInnerContent{
    background-color:white;
    border-radius:1%;
    border-style: double;
    border: black, visible;
    width: 50%;
    margin:auto;
    height: 60%;
}
.fetchQuoteBTN{

}
.recieveQuoteBTN{
    
}

@keyframes curtains {
    0%   {width:50%}
    100% {width:20%}
}

@keyframes topInflate {
    0%   {height:0px}
    100% {height:1.2em}
}