 *{
    font-family: 'Optima', monospace; 
    color:blue;
    text-align: center;
}

 body{
     color: white;
     background-image:url(/public/bg-white.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     
    
    overflow-x: hidden; 
    overflow-y: scroll; 
    text-align: center;
 }

h1{
   
    color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
    font: 80px 'MisoRegular';
    animation-duration: 3s;
    animation-name: fadein;
} 

 @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }  

ul{
   list-style-type: none;
    text-align: center;

    }

li{
    list-style-type:none;
}



p{
    font-family: 'Optima', monospace;
    font-size: 40;
    animation-duration: 3s;
    animation-name: slidein;  
    
} 
    

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }  
 
.row {
    display: flex;
    }
  
.column {
    flex: 10%;
    padding: 10px;
}


